@import '../../styles/variables.scss';

.pagination {
  display: flex;
  gap: 10px;
  align-items: center;

  &__button {
    border: none;
    font-size: 14px;
    padding: 5px 10px;
    cursor: pointer;
    @media (max-width: 580px) {
      font-size: 11px;
      padding: 5px;
    }

    &:disabled {
      cursor: default;
      opacity: 0.6;
    }
  }

  &__previous,
  &__next {
    font-size: 16px;
    font-weight: bold;
    @media (max-width: 580px) {
      font-size: 11px;
      
    }
  }

  &__ellipses {
    font-size: 14px;
  }

  &__active {
    font-weight: bold;
  }
}
