@import '../../styles//variables.scss';

@keyframes slide-in {
    from {
      left: -100%;
    }
    to {
      left: 0;
    }
  }
  
  @keyframes slide-out {
    from {
      left: 0;
    }
    to {
      left: -100%;
    }
  }
  
  .notification {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: fit-content;
    white-space: nowrap;
    animation: slide-in 0.5s forwards;
    z-index: 1000;
  }
  
  .notification.slide-out {
    animation: slide-out 0.5s forwards;
  }
  
  