@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,800&display=swap');

$Poppins: 'Poppins', sans-serif;

$dark: rgba(33, 63, 125, 1);
$text: rgba(84, 95, 125, 1);
$bg: rgba(255, 255, 255, 1);
$heading: rgba(84, 95, 125, 1);
$pending: rgb(239, 232, 208);
$blacklist: rgb(250, 195, 209);
$active: rgb(202, 239, 212);
$inactive: rgb(231, 234, 244);
$searchBtnBg: rgba(57, 205, 204, 1);
$selectedBg: rgba(57, 205, 204, 1);
$hoveredBg: rgb(210, 234, 234);
$error: red;
$dashboardBg: #FAFAFA;
$borderColor: rgba(33, 63, 125, 0.1);