@import '../../styles//variables.scss';

.header {
  display: flex;
  justify-content: space-between;
  height: 70px;
  padding: 20px;
  background-color: $bg;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;

  &__userProfile {
    display: flex;

    @media (min-width: 580px) {
      gap: 25px;
    }

    @media (max-width: 580px) {
      display: none;
    }
    &__doc {
      font-size: 12px;
      font-weight: 500;
      text-decoration: underline;
    }
    &__notification {
      width: 18px;
      height: 20px;
    }
    &__user {
      width: 40px;
      height: 40px;
      margin-top: -9px;
    }
    &__name {
      font-size: 12px;
      font-weight: 500;
      margin-left: -20px;
    }
  }
  &__userProfileMobile {
    display: flex;
    gap: 5px;
    cursor: pointer;
    @media (min-width: 580px) {
      display: none;
    }
  }
}
