@import '../styles//variables.scss';

.dateInput {
    position: relative;
    display: inline-block;
  
    input[type="date"] {
      position: relative;
      z-index: 2;
      opacity: 0; // Hide the default date picker
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  
    .customDateIcon {
      position: absolute;
      right: 10px; // Adjust as needed
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
      pointer-events: none;
      font-size: 1.5em;
    }
    
    .clickableIcon {
      position: absolute;
      right: 10px; // Adjust as needed
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      z-index: 3;
      background: none;
      border: none;
      font-size: 1.5em;
      pointer-events: all;
    }

    .inputStyle {
        border: none;
    }
  }
  