@import '../../styles//variables.scss';

.dashboard {
  display: flex;
  flex-direction: column;
  background-color: $dashboardBg;
  width: 100%;
  margin-top: 70px;
  overflow-x: auto;

  &__main {
    display: flex;
    flex: 1;
    width: 100%;
  }
}
